/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}
html,body, .app, .stage, .imgSec {
  height:100%;
  width:100%;
}
.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}


.stage {
  position:relative;
  /*height:700px;*/
  background-color: #dddddd;
}
.imgSec {
  overflow: hidden;
  position:relative;
}
.imgCtr {
  position: absolute;
  bottom:30px;
  left:0;
  width:100%;
  text-align: center;
}
.imgFig {
  position: absolute;
  width: 320px;
  height: 360px;
  margin: 0;
  padding: 40px;
  background-color: #fff;
  box-sizing: border-box;
  transform-style: preserve-3d;
  cursor:pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.isInverse {
  transform: rotateY(180deg);
}
.imgFig img {
  width:240px;
}
.imgFig figcaption {
  text-align:center;
}
.imgFig figcaption h2 {
  line-height: 1.5em;
  color:gray;
}
.imgFig figcaption .imgBack {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  padding:50px 40px;
  background-color:#ffffff;
  overflow: auto;
  box-sizing: border-box;
  backface-visibility: hidden;
  transform: rotateY(180deg) translateZ(1px);
}
.imgFig figcaption .imgBack p {
  color:gray;
  text-align: left;
}
